@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html{
        font-family: 'Titillium Web', sans-serif;
        @apply scroll-smooth bg-[#000b26];
    }
}

.typed-cursor {
    font-size: 15px;
    color: #fff;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    10% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
@-webkit-keyframes blink {
    10% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
@-moz-keyframes blink {
    10% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

.btn-primary {
    @apply text-white md:mx-0 mx-auto rounded-md py-3 px-6 flex items-center gap-2 bg-[#0a63c3] cursor-pointer
}

.aboutImg::after {
    @apply content-[''] w-full left-0 top-0 rounded-xl rotate-12 h-full absolute bg-gray-500 z-[-999];
}

::placeholder{
    @apply text-lg;
}

::selection{
    @apply bg-[#0a63c3]
}